.astyle {
    text-decoration: none;
}
.astylearial12redbold {
    text-decoration: none;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #FF0000;
}
.astylearial12blackbold {
    text-decoration: none;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}
.astylearial14blackbold {
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}
.astylearial08whitebold {
    text-decoration: none;
    font-family: Arial;
    font-size: 8px;
    font-weight: bold;
    color: #FFFFFF;
}
.button01 {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}
.button02 {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}
.button03 {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #FF0000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}
.button04 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}
.button05 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #FF0000;
    background-color: #FFFFFF;
    border: 1px solid #FF0000;
}
.button06 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    background-color: #DCCCBC;
    border: 1px solid #000000;
}
.button07 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #FF0000;
}
.button08 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    background-color: #B4D3E4;
    border: 1px solid #000000;
}
.button09 {
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}
.button10 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    height: 75px;
    width: 75px;
}
.button11 {
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    color: #FF0000;
    background-color: #FFFFFF;
    border: 1px solid #FF0000;
}
.button12 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #FFFFFF;
}
.button13 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    background-color: #FFFFFF;
    border: 1px solid #999999;
}
.button14 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #0066CC;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}
.button15 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #0033FF;
    border: 1px solid #000000;
}
.button16 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #0033FF;
    background-color: #FFFFFF;
    border: 1px solid #0033FF;
}
.button17 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #FF3300;
    background-color: #FFFFFF;
    border: 1px solid #FF3300;;
}
.button18 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF3300;
    border: 1px solid #000000;
}
.button19 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    background-color: #FF9900;
    border: 1px solid #000000;
}
.button20 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF9900;
    border: 1px solid #000000;
    height: 50px;
    width: 100px;
}
.button21 {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #9900FF;
    border: 1px solid #9900FF;
}
.button22 {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #9900FF;
    background-color: #FFFFFF;
    border: 1px solid #9900FF;
}
.button23 {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    background-color: #FF6902;
    border: 1px solid #000000;
}
.button24 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #CCCCCC;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}
.textfield01 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}
.textfield02 {
    color: #FF0000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    height: 18px;
    width: 100px;
}
.textfield03 {
    color: #FF0000;
    border: 1px solid #000000;
}
.textfield04 {
    color: #000000;
    border: 1px solid #FF0000;
}
.textfield05 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #FF0000;
    background-color: #FFFFFF;
    border: 1px solid #FF0000;
}
.textfield06 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #FF0000;
}
.textfield07 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #FF0000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}
.textfield08 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    height: 100px;
    width: 550px;
}
.textfield09 {
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    height: 15px;
    width: 42px;
}
.textfield10 {
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    height: 15px;
    width: 38px;
}
.textfield11 {
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    height: 15px;
    width: 50px;
}
.textfield12 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    height: 60px;
    width: 430px;
}
.textfield13 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    height: 20px;
    width: 300px;
}
.table01 {
    border-top-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-top-style: dashed;
    border-right-style: dashed;
    border-bottom-style: none;
    border-left-style: dashed;
    border-top-color: #000000;
    border-right-color: #000000;
    border-left-color: #000000;
}
.table02 {
    border: 2px dashed #000000;
}
.table03 {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: dashed;
    border-left-style: none;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.table04 {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: dashed;
    border-right-style: none;
    border-bottom-style: dashed;
    border-left-style: none;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.table05 {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.table06 {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: dashed;
    border-left-style: none;
    border-top-color: #000000;
    border-right-color: #000000;
    border-bottom-color: #000000;
    border-left-color: #000000;
}
.table1Top {
    border-top-width: 1px;
    border-top-color: #000000;
    border-top-style: solid;
}
.table1Bottom {
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
}
.table1Left {
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
}
.table1Right {
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table1Top1Bottom {
    border-top-width: 1px;
    border-top-color: #000000;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
}
.table1Bottom1Left {
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
}
.table1Bottom1Right {
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table1Top1Bottom1Left {
    border-top-width: 1px;
    border-top-color: #000000;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
}
.table1Top1Left {
    border-top-width: 1px;
    border-top-color: #000000;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
}
.table1Top1Right {
    border-top-width: 1px;
    border-top-color: #000000;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table1Top1Left1Right {
    border-top-width: 1px;
    border-top-color: #000000;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
}
.table1Top1Bottom1Right {
    border-top-width: 1px;
    border-top-color: #000000;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table1Bottom1Left {
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
}
.table1Bottom1Right {
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table1Bottom1Left1Right {
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table1Top1Bottom1Left1Right {
    border-top-width: 1px;
    border-top-color: #000000;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table2Top {
    border-top-width: 2px;
    border-top-color: #000000;
    border-top-style: solid;
}
.table2Bottom {
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
}
.table2Top2Bottom {
    border-top-width: 2px;
    border-top-color: #000000;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
}
.table1Top2Bottom {
    border-top-width: 1px;
    border-top-color: #000000;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
}
.table2Top2Bottom2Left2Right {
    border-top-width: 2px;
    border-top-color: #000000;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 2px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 2px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table1Bottom2Left1Right {
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 2px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table1Bottom1Left2Right {
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 2px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table2Bottom2Left1Right {
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 2px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table2Bottom1Left2Right {
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 2px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table2Bottom1Left {
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
}
.table1Bottom1Left {
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
}
.table1Bottom1Left1Right {
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table1Top2Bottom2Left1Right {
    border-top-width: 1px;
    border-top-color: #000000;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 2px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table1Top2Bottom1Left2Right {
    border-top-width: 1px;
    border-top-color: #000000;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 2px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table2Top2Bottom1Left2Right {
    border-top-width: 2px;
    border-top-color: #000000;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 2px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table2Top2Bottom2Left1Right {
    border-top-width: 2px;
    border-top-color: #000000;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 2px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table2Top2Bottom1Left1Right {
    border-top-width: 2px;
    border-top-color: #000000;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table2Left1Right {
    border-left-width: 2px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table1Left1Right {
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
}
.table1Left2Right {
    border-left-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
    border-right-width: 2px;
    border-right-color: #000000;
    border-right-style: solid;
}
.arial08black {
    font-family: Arial;
    font-size: 8px;
    color: #000000;
}
.arial08blackbold {
    font-family: Arial;
    font-size: 8px;
    font-weight: bold;
    color: #000000;
}
.arial09black {
    font-family: Arial;
    font-size: 9px;
    color: #000000;
}
.arial09blackbold {
    font-family: Arial;
    font-size: 9px;
    font-weight: bold;
    color: #000000;
}
.arial10black {
    font-family: Arial;
    font-size: 10px;
    color: #000000;
}
.arial10blackbold {
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
}
.arial11black {
    font-family: Arial;
    font-size: 11px;
    color: #000000;
}
.arial11blackbold {
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
}
.arial12black {
    font-family: Arial;
    font-size: 12px;
    color: #000000;
}
.arial12blackbold {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}
.arial13black {
    font-family: Arial;
    font-size: 13px;
    color: #000000;
}
.arial13blackbold {
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
}
.arial14black {
    font-family: Arial;
    font-size: 14px;
    color: #000000;
}
.arial14blackbold {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}
.arial15black {
    font-family: Arial;
    font-size: 15px;
    color: #000000;
}
.arial15blackbold {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}
.arial16black {
    font-family: Arial;
    font-size: 16px;
    color: #000000;
}
.arial16blackbold {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}
.arial17black {
    font-family: Arial;
    font-size: 17px;
    color: #000000;
}
.arial17blackbold {
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    color: #000000;
}
.arial18black {
    font-family: Arial;
    font-size: 18px;
    color: #000000;
}
.arial18blackbold {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}
.arial07white {
    font-family: Arial;
    font-size: 7px;
    color: #FFFFFF;
}
.arial07whitebold {
    font-family: Arial;
    font-size: 7px;
    font-weight: bold;
    color: #FFFFFF;
}
.arial08white {
    font-family: Arial;
    font-size: 8px;
    color: #FFFFFF;
}
.arial08whitebold {
    font-family: Arial;
    font-size: 8px;
    font-weight: bold;
    color: #FFFFFF;
}
.arial09white {
    font-family: Arial;
    font-size: 9px;
    color: #FFFFFF;
}
.arial09whitebold {
    font-family: Arial;
    font-size: 9px;
    font-weight: bold;
    color: #FFFFFF;
}
.arial11white {
    font-family: Arial;
    font-size: 11px;
    color: #FFFFFF;
}
.arial11whitebold {
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
}
.arial12white {
    font-family: Arial;
    font-size: 12px;
    color: #FFFFFF;
}
.arial12whitebold {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
}
.arial13white {
    font-family: Arial;
    font-size: 13px;
    color: #FFFFFF;
}
.arial13whitebold {
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
}
.arial14white {
    font-family: Arial;
    font-size: 14px;
    color: #FFFFFF;
}
.arial14whitebold {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}
.arial10red {
    font-family: Arial;
    font-size: 10px;
    color: #FF0000;
}
.arial10redbold {
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    color: #FF0000;
}
.arial11red {
    font-family: Arial;
    font-size: 11px;
    color: #FF0000;
}
.arial11redbold {
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #FF0000;
}
.arial12red {
    font-family: Arial;
    font-size: 12px;
    color: #FF0000;
}
.arial12redbold {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #FF0000;
}
.arial13red {
    font-family: Arial;
    font-size: 13px;
    color: #FF0000;
}
.arial13redbold {
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #FF0000;
}
.arial14red {
    font-family: Arial;
    font-size: 14px;
    color: #FF0000;
}
.arial14redbold {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #FF0000;
}
.arial15red {
    font-family: Arial;
    font-size: 15px;
    color: #FF0000;
}
.arial15redbold {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color: #FF0000;
}
.arial16red {
    font-family: Arial;
    font-size: 16px;
    color: #FF0000;
}
.arial16redbold {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #FF0000;
}
.arial10blue {
    font-family: Arial;
    font-size: 10px;
    color: #0066FF;
}
.arial10bluebold {
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    color: #0066FF;
}
.arial11blue {
    font-family: Arial;
    font-size: 11px;
    color: #0066FF;
}
.arial11bluebold {
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #0066FF;
}
.arial12blue {
    font-family: Arial;
    font-size: 12px;
    color: #0066FF;
}
.arial12bluebold {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #0066FF;
}
.arial13blue {
    font-family: Arial;
    font-size: 13px;
    color: #0066FF;
}
.arial13bluebold {
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #0066FF;
}
.arial14blue {
    font-family: Arial;
    font-size: 14px;
    color: #0066FF;
}
.arial14bluebold {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #0066FF;
}
.arial15blue {
    font-family: Arial;
    font-size: 15px;
    color: #0066FF;
}
.arial15bluebold {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color: #0066FF;
}
.couriernew11black {
    font-family: "Courier New";
    font-size: 11px;
    color: #000000;
}
.couriernew11blackbold {
    font-family: "Courier New";
    font-weight: bold;
    font-size: 11px;
    color: #000000;
}
.couriernew12black {
    font-family: "Courier New";
    font-size: 12px;
    color: #000000;
}
.couriernew12blackbold {
    font-family: "Courier New";
    font-weight: bold;
    font-size: 12px;
    color: #000000;
}
